<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'" [position]="drawerPosition">
    <ng-container [ngSwitch]="drawerState">
      <app-options (clearRankClick)="onClearRankClick()"
                   (debugScoreTyped)="saveRankDebug($event)"
                   (imageRemovedClick)="onImageRemovedClick()"
                   (optionsChanged)="onOptionChanged($event)"
                   *ngSwitchCase="'OPTIONS'"
                   [defaultOptions]="options"
                   [hasFile]="!!file" [recording]="recording">
      </app-options>
      <app-applause-meter *ngSwitchCase="'APPLAUSE_METER'" [decibelMeasure]="decibelMeasure" [options]="options"
                          [recording]="recording" [remainingSeconds]="remainingSeconds">
      </app-applause-meter>
      <app-leaderboard (deleteRank)="deleteRank($event)" *ngSwitchCase="'LEADERBOARD'" [options]="options"
                       [sortedRanking]="sortedRanking">
      </app-leaderboard>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <div (change)="setFile($event)" [disableClick]="true"
         [ngClass]="{'has-image': !!file}"
         accept="image/jpeg,image/jpg,image/png"
         class="app-container fxFlexbox fxLayoutColumn fxLayoutAlignCenterCenter" ngx-dropzone>
      <ngx-dropzone-image-preview *ngIf="file" [file]="file"
                                  [ngClass]="{
                                  'higher': imageHigher,
                                  'wider': !imageHigher}">
      </ngx-dropzone-image-preview>
      <div class="app-header fxFlexbox fxLayoutRow fxLayoutAlignSpaceBetweenCenter">
        <div>
          <button (click)="openSettings()" mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </div>
        <div *ngIf="!file" class="title-box fxFlexbox fxLayoutColumn">
          <h1>Applaudimètre</h1>
          <h2>{{subtitle}}</h2>
        </div>
        <div class="fxFlexbox fxLayoutRow fxLayoutGap10">
          <button (click)="openApplauseMeter()" mat-icon-button>
            <mat-icon>mic_external_on</mat-icon>
          </button>
          <button (click)="openLeaderboard()" mat-icon-button>
            <mat-icon>leaderboard</mat-icon>
          </button>
        </div>
      </div>

      <div class="main-container fxFlexbox fxLayoutRow fxLayoutAlignCenterEnd">
        <div class="applause-container">
          <app-countdown [currentCountdownValue]="remainingSeconds"
                         [maxCountdownValue]="options?.autoEndCountdown"></app-countdown>
          <button (click)="onStartRecording()" *ngIf="!recording" color="primary" mat-raised-button>Commencer
            l'enregistrement
          </button>
          <button (click)="onEndRecording()" *ngIf="recording" color="primary" mat-raised-button>Terminer
            l'enregistrement
          </button>

          <div class="best-score">
            <ng-container *ngIf="averageMeasureSaved">
              <div>Meilleur score : <strong>{{maxMeasureSaved }}db</strong></div>
              <div>Score moyen : <strong>{{ averageMeasureSaved }}db</strong></div>
              <div class="team-name-form-field fxFlexbox fxLayoutRow fxLayoutGap10 fxLayoutAlignCenterCenter">
                <mat-form-field *ngIf="teamNameFilteredOptions">
                  <mat-label>Nom de l'équipe</mat-label>
                  <input [formControl]="teamNameFC" matInput type="text"
                         [matAutocomplete]="auto"/>
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" panelWidth="auto">
                  <mat-option *ngFor="let option of teamNameFilteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>

                </mat-form-field>

                <div>
                  <button (click)="saveRank(maxMeasureSaved, averageMeasureSaved)" mat-stroked-button>Valider</button>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!averageMeasureSaved">
              <ng-container *ngIf="!alreadySavedMeasure && (!recording || (recording && !remainingSeconds))">Aucun score
                enregistré. Cliquez sur
              </ng-container>
              <ng-container *ngIf="!recording"><strong>Commencer l'enregistrement</strong> pour débuter la mesure du
                son.
              </ng-container>
              <ng-container *ngIf="recording && !remainingSeconds"><strong>Terminer l'enregistrement</strong> pour
                afficher les valeurs enregistrées.
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
