<div class="main-container">
  <h1>Applaudimètre</h1>

  <div class="applause-meter">
    <div *ngFor="let level of decibelsLevels" class="level"
         [ngClass]="[level.color, decibel > level.minDecibel ? 'active' : '']">
    </div>
  </div>

  <button color="primary" mat-raised-button (click)="onStartRecording()" *ngIf="!recording">Commencer l'enregistrement
  </button>
  <button color="primary" mat-raised-button (click)="onEndRecording()" *ngIf="recording">Terminer l'enregistrement
  </button>

  <div class="best-score">
    <ng-container *ngIf="maxRecordDecibelSaved">Meilleur score : <strong>{{maxRecordDecibelSaved }}db</strong> </ng-container>
    <ng-container *ngIf="!maxRecordDecibelSaved && !recording">
      Aucun score enregistré. Cliquez sur <strong>Commencer l'enregistrement</strong> pour débuter la mesure du son.
    </ng-container>
    <ng-container *ngIf="!maxRecordDecibelSaved && recording">
      Aucun score enregistré. Cliquez sur <strong>Terminer l'enregistrement</strong> pour afficher la veleure la plus forte enregistrée.
    </ng-container>

  </div>

  <div class="options">
    <h3>Options </h3>
    <div>
      <label>Sensibilité</label>
      <mat-slider thumbLabel color="primary" min="0" max="10" step="0.1" [formControl]="sensibiltyFC"></mat-slider>
    </div>
  </div>
</div>
