<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'" [position]="drawerPosition">
    <ng-container [ngSwitch]="drawerState">
      <app-options *ngSwitchCase="'OPTIONS'"
                   [recording]="recording"
                   [defaultOptions]="options"
                   [hasFile]="!!file"
                   (imageRemovedClick)="onImageRemovedClick()"
                   (debugScoreTyped)="saveRankDebug($event)" (optionsChanged)="onOptionChanged($event)">
      </app-options>
      <app-applause-meter *ngSwitchCase="'APPLAUSE_METER'" [recording]="recording" [decibelMeasure]="decibelMeasure" [options]="options" [remainingSeconds]="remainingSeconds">
      </app-applause-meter>
      <app-leaderboard *ngSwitchCase="'LEADERBOARD'" [options]="options" [sortedRanking]="sortedRanking" (deleteRank)="deleteRank($event)">
      </app-leaderboard>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <div (change)="setFile($event)" [disableClick]="true"
         [ngClass]="{'has-image': !!file}"
         accept="image/jpeg,image/jpg,image/png" class="app-container fxFlexbox fxLayoutColumn fxLayoutAlignCenterCenter" ngx-dropzone>
      <ngx-dropzone-image-preview *ngIf="file" [file]="file">
      </ngx-dropzone-image-preview>
      <div class="app-header fxFlexbox fxLayoutRow fxLayoutAlignSpaceBetweenCenter">
        <div>
          <button mat-icon-button (click)="openSettings()">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
        <div class="fxFlexbox fxLayoutColumn">
          <h1>Applaudimètre</h1>
          <h2>Afterwork Sopra Steria</h2>
        </div>
        <div class="fxFlexbox fxLayoutRow fxLayoutGap10">
          <button mat-icon-button (click)="openApplauseMeter()">
            <mat-icon>mic_external_on</mat-icon>
          </button>
          <button mat-icon-button (click)="openLeaderboard()">
            <mat-icon>leaderboard</mat-icon>
          </button>
        </div>
      </div>

      <div class="main-container fxFlexbox fxLayoutRow fxLayoutAlignCenterEnd">
          <div class="applause-container">
            <app-countdown [maxCountdownValue]="options?.autoEndCountdown" [currentCountdownValue]="remainingSeconds"></app-countdown>
            <button (click)="onStartRecording()" *ngIf="!recording" color="primary" mat-raised-button>Commencer
            l'enregistrement
          </button>
          <button (click)="onEndRecording()" *ngIf="recording" color="primary" mat-raised-button>Terminer
            l'enregistrement
          </button>

          <div class="best-score">
            <ng-container *ngIf="averageMeasureSaved">
              <div>Meilleur score : <strong>{{maxMeasureSaved }}db</strong></div>
              <div>Score moyen : <strong>{{ averageMeasureSaved }}db</strong></div>
              <div class="team-name-form-field fxFlexbox fxLayoutRow fxLayoutGap10 fxLayoutAlignCenterCenter">
                <mat-form-field>
                  <mat-label>Nom de l'équipe</mat-label>
                  <input [formControl]="teamNameFC" matInput type="text"/>
                </mat-form-field>

                <div>
                  <button (click)="saveRank(maxMeasureSaved, averageMeasureSaved)" mat-stroked-button >Valider</button>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!averageMeasureSaved">
              <ng-container *ngIf="!alreadySavedMeasure && (!recording || (recording && !remainingSeconds))">Aucun score
                enregistré. Cliquez sur
              </ng-container>
              <ng-container *ngIf="!recording"><strong>Commencer l'enregistrement</strong> pour débuter la mesure du
                son.
              </ng-container>
              <ng-container *ngIf="recording && !remainingSeconds"><strong>Terminer l'enregistrement</strong> pour
                afficher les valeurs enregistrées.
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
